$primary-color: #845ec2;            // Violet pastel intense
$primary-color-dark: #6b3fa0;       // Violet plus foncé
$text-color: #ece8e1;               // Texte clair
$secondary-text-color: #ff6f91;     // Rose vif
$border-color: rgba(255, 255, 255, 0.2); // Bordure légère
$halo-color: rgba(132, 94, 194, 0.8); // Halo violet prononcé
$background-color: #2f2a41;         // Fond sombre pastel